In [6]:
import pandas as pd

In [7]:
twitter = pd.read_csv('trainingandtestdata/training.1600000.processed.noemoticon.csv',encoding="ISO-8859-1")

This data have been taken from http://help.sentiment140.com/for-students/

In [8]:
twitter

,0or4,somenumber,date time,query,user?,post
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [13]:
twitter = twitter.drop(columns = ['0or4'])

In [14]:
twitter

,somenumber,date time,query,user?,post
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...
1599995,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [27]:
twitter  = twitter.drop(columns = [' somenumber', ' date time', ' query', ' user?'])

In [28]:
twitter.info

<bound method DataFrame.info of                                                       post
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        is upset that he can't update his Facebook by ...
2        @Kenichan I dived many times for the ball. Man...
3          my whole body feels itchy and like its on fire
4        @nationwideclass no, it's not behaving at all....
...                                                    ...
1599995  Just woke up. Having no school is the best fee...
1599996  TheWDB.com - Very cool to hear old Walt interv...
1599997  Are you ready for your MoJo Makeover? Ask me f...
1599998  Happy 38th Birthday to my boo of alll time!!! ...
1599999  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 1 columns]>

In [29]:
twitter = twitter.dropna()

In [30]:
twitter

                                                      post
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        is upset that he can't update his Facebook by ...
2        @Kenichan I dived many times for the ball. Man...
3          my whole body feels itchy and like its on fire
4        @nationwideclass no, it's not behaving at all....
...                                                    ...
1599995  Just woke up. Having no school is the best fee...
1599996  TheWDB.com - Very cool to hear old Walt interv...
1599997  Are you ready for your MoJo Makeover? Ask me f...
1599998  Happy 38th Birthday to my boo of alll time!!! ...
1599999  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 1 columns]

In [31]:
from unidecode import unidecode

In [42]:
twitter[' post'][45658]

"My fake plant died because I didn't pretend to water itï¿½   #ccn"

In [43]:
twitter[' post'] = twitter[' post'].apply(unidecode)

In [44]:
twitter[' post'][45658]

"My fake plant died because I didn't pretend to water iti? 1/2   #ccn"

In [48]:
twitter = twitter.drop_duplicates()

In [49]:
twitter.rename({' post': 'post'}, axis=1, inplace=True)

/tmp/ipykernel_17693/2489835206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twitter.rename({' post': 'post'}, axis=1, inplace=True)

In [50]:
twitter

                                                      post
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        is upset that he can't update his Facebook by ...
2        @Kenichan I dived many times for the ball. Man...
3          my whole body feels itchy and like its on fire
4        @nationwideclass no, it's not behaving at all....
...                                                    ...
1599995  Just woke up. Having no school is the best fee...
1599996  TheWDB.com - Very cool to hear old Walt interv...
1599997  Are you ready for your MoJo Makeover? Ask me f...
1599998  Happy 38th Birthday to my boo of alll time!!! ...
1599999  happy #charitytuesday @theNSPCC @SparksCharity...

[1581466 rows x 1 columns]

In [51]:
twitter['post'][1]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [52]:
twitter.to_csv('twitter_sentiment140.csv', index=False)

In [ ]:
twitter