In [1]:
import pandas as pd
import numpy as np

# Load Datasets

In [26]:
df_twitter_sentiment = pd.read_csv("../sentiment140-twitter_data/twitter_sent140_with_features_270k_row.csv")
df_twitter_sentiment.head()

,Unnamed: 0,post,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,Had a good first days WE at the herald,1,0,39,9,0,0,3.0
1,1,whaat. making sure.. she's safe.,0,0,34,5,0,0,1.0
2,2,"HAHAHAHAHAHA, Se ferrou!",0,0,26,3,0,0,0.0
3,3,Cant sleep with bad thoughts in my mind,0,1,40,8,0,0,-3.0
4,4,"so tired and sick of trains, tho getting on an...",0,2,57,11,0,0,-4.0

In [27]:
df_twitter_stream = pd.read_csv("../twitter_stream/twitter_stream_with_features.csv")
df_twitter_stream.head()

/tmp/ipykernel_57994/3077464430.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_twitter_stream = pd.read_csv("../twitter_stream/twitter_stream_with_features.csv")

,Unnamed: 0.1,Unnamed: 0,created_at,text,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,0,2020-06-11 06:30:00+00:00,TEMP 68.2degF F |Feelslike 68.8 degF |RH 67 % ...,0,0,126,24,0,0,0.0
1,1,1,2020-06-11 06:30:00+00:00,Comparison of Actors is the worst thing Ever !...,0,2,112,24,2,0,-4.0
2,2,2,2020-06-11 06:30:00+00:00,Nitip,0,0,5,1,0,0,0.0
3,3,3,2020-06-11 06:30:00+00:00,Probably.,0,0,9,1,0,0,0.0
4,4,4,2020-06-11 06:30:00+00:00,"Baby, how you doing? I know you're not doing t...",0,0,88,18,0,0,3.0

In [28]:
df_instagram = pd.read_csv("../instagram_data/insta_with_features.csv")
df_instagram.head()

,Unnamed: 0,Caption,Instagram,YouTube,Twitter,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,bye,1,0,0,0,0,4,1,0,0,0.0
1,1,"Ok, a few more... sorry I just had so much fun...",1,0,0,1,1,56,13,0,0,3.0
2,2,This was one of my favorite shoots I've ever d...,1,0,0,3,0,177,32,0,0,3.0
3,3,Wrapped round my finger like a ring,1,0,0,1,0,36,7,0,0,2.0
4,4,Yesterday was so much fun!! has been such a hu...,1,0,0,2,0,178,35,0,0,11.0

In [29]:
df_reddit = pd.read_csv("../reddit_data/cleaned_reddit_convo.csv")
df_reddit.head()

   Unnamed: 0                                                  0
0           0            What kind of phone(s) do you guys have?
1           1  I have a pixel. It's pretty great. Much better...
2           2       Does it really charge all the way in 15 min?
3           4  Samsung Galaxy J1. It's my first cell phone an...
4           5  What do you think of it? Anything you don't like?

In [30]:
df_youtube = pd.read_csv("../youtube_data/ytdata_shortened_with_features.csv")
df_youtube.head()

,Unnamed: 0,YouTube,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,Waoo,0,0,4,1,0,0,0.0
1,1,Awesome art work 👌👌😍😍,2,0,21,4,0,0,4.0
2,2,"Great artwork, lovely video. Thank you for sha...",4,0,63,11,0,0,11.0
3,3,Nice drawing 👌,1,0,14,3,0,0,3.0
4,4,Beautiful drawing,1,0,17,2,0,0,3.0

# Standardize Columns

In [47]:
df_twitter_sentiment.rename(columns={"post":"text"}, inplace=True)
df_twitter_sentiment = df_twitter_sentiment[["text"]]
df_twitter_sentiment["platform"] = ["twitter" for _ in range(df_twitter_sentiment.shape[0])]
df_twitter_sentiment.head()

/tmp/ipykernel_57994/2843304037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_twitter_sentiment.rename(columns={"post":"text"}, inplace=True)

                                                text platform
0            Had a good first days WE at the herald   twitter
1                  whaat. making sure.. she's safe.   twitter
2                          HAHAHAHAHAHA, Se ferrou!   twitter
3           Cant sleep with bad thoughts in my mind   twitter
4  so tired and sick of trains, tho getting on an...  twitter

In [48]:
df_twitter_stream = df_twitter_stream[["text"]]
df_twitter_stream["platform"] = ["twitter" for _ in range(df_twitter_stream.shape[0])]
df_twitter_stream.head()

                                                text platform
0  TEMP 68.2degF F |Feelslike 68.8 degF |RH 67 % ...  twitter
1  Comparison of Actors is the worst thing Ever !...  twitter
2                                              Nitip  twitter
3                                          Probably.  twitter
4  Baby, how you doing? I know you're not doing t...  twitter

In [51]:
df_instagram.rename(columns={"Caption":"text"}, inplace=True)
df_instagram = df_instagram[["text"]]
df_instagram["platform"] = ["instagram" for _ in range(df_instagram.shape[0])]
df_instagram.head()

/tmp/ipykernel_57994/1079997614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_instagram.rename(columns={"Caption":"text"}, inplace=True)

                                                text   platform
0                                               bye   instagram
1  Ok, a few more... sorry I just had so much fun...  instagram
2  This was one of my favorite shoots I've ever d...  instagram
3               Wrapped round my finger like a ring   instagram
4  Yesterday was so much fun!! has been such a hu...  instagram

In [52]:
df_reddit.rename(columns={"0":"text"}, inplace=True)
df_reddit = df_reddit[["text"]]
df_reddit["platform"] = ["reddit" for _ in range(df_reddit.shape[0])]
df_reddit.head()

                                                text platform
0            What kind of phone(s) do you guys have?   reddit
1  I have a pixel. It's pretty great. Much better...   reddit
2       Does it really charge all the way in 15 min?   reddit
3  Samsung Galaxy J1. It's my first cell phone an...   reddit
4  What do you think of it? Anything you don't like?   reddit

In [53]:
df_youtube.rename(columns={"YouTube":"text"}, inplace=True)
df_youtube = df_youtube[["text"]]
df_youtube["platform"] = ["youtube" for _ in range(df_youtube.shape[0])]
df_youtube.head()

/tmp/ipykernel_57994/1556457449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_youtube["platform"] = ["youtube" for _ in range(df_youtube.shape[0])]

                                                text platform
0                                               Waoo  youtube
1                              Awesome art work 👌👌😍😍  youtube
2  Great artwork, lovely video. Thank you for sha...  youtube
3                                     Nice drawing 👌  youtube
4                                  Beautiful drawing  youtube

# Merge Datasets

In [54]:
df_full = pd.concat([df_twitter_sentiment, df_twitter_stream, df_instagram, df_reddit, df_youtube])

In [57]:
df_full.reset_index(inplace=True, drop=True)

In [61]:
# Some extra cleaning. Replacing html ampersand codes.
from w3lib.html import replace_entities
df_full["text"] = df_full["text"].astype(str)
df_full["text"] = df_full["text"].apply(replace_entities)

# Compute Features

## Positive/Negative Word Counts
Positive and negative word lists pulled from https://ptrckprry.com/course/ssd/data/positive-words.txt
and https://ptrckprry.com/course/ssd/data/negative-words.txt
respectively.

First we read in the word lists and set up functions that will count their occurences.

In [64]:
import re

In [65]:
with open("wordLists/positive_words.txt",'r') as file:
    positive_words = file.read().splitlines()

with open("wordLists/negative_words.txt",'r') as file:
    negative_words = file.read().splitlines()

In [66]:
print(len(positive_words))
print(len(negative_words))

2006
4783

In [67]:
#Functions that count the occurences of positive/negative words in a text string
def count_positive(text):
    counter = 0
    for word in positive_words:
        counter += text.lower().split().count(word)
    return counter
def count_negative(text):
    counter = 0
    for word in negative_words:
        counter += text.lower().split().count(word)
    return counter

We create the new features (this takes a minute to run)

In [69]:
df_full["positive_words"] = df_full["text"].apply(count_positive)

In [70]:
df_full["negative_words"] = df_full["text"].apply(count_negative)

# Text Length

In [71]:
df_full["length"] = df_full["text"].apply(len)
df_full["word_count"] = df_full["text"].apply((lambda s:len(s.split())))

# Male and Female words
Word lists adapted from https://github.com/DanielleSucher/Jailbreak-the-Patriarchy/blob/master/myscript.js

In [72]:
with open("wordLists/male_words", 'r') as file:
    male_words = file.read().splitlines()

In [73]:
with open("wordLists/female_words", 'r') as file:
    female_words = file.read().splitlines()

In [74]:
def count_male(text):
    counter = 0
    for word in male_words:
        counter += text.lower().split().count(word)
    return counter
def count_female(text):
    counter = 0
    for word in female_words:
        counter += text.lower().split().count(word)
    return counter

In [75]:
df_full["male_words"] = df_full["text"].apply(count_male)

In [76]:
df_full["female_words"] = df_full["text"].apply(count_female)

# Sentiment analysis scores from Afinn

In [77]:
from afinn import Afinn
afinn = Afinn(language='en')
df_full["afinn"] = df_full["text"].apply(afinn.score)

# Save the resulting Dataframe!

In [78]:
df_full.to_csv("full_dataset.csv")