In [1]:
import pandas as pd

In [2]:
insta = pd.read_csv('instagram_captions.csv')

This data have been taken from https://www.kaggle.com/datasets/prithvijaunjale/instagram-images-with-captions

We will get rid of columns "Sr No" and "Image File". We will remove rows with null entries and drop duplicates.

Let's see what the data looks like.

In [3]:
insta

,Sr No,Image File,Caption
0,1,img/insta1,NaN
1,2,img/insta2,bye
2,3,img/insta3,"Ok, a few more... sorry I just had so much fun..."
3,4,img/insta4,This was one of my favorite shoots I‚Äôve ever d...
4,5,img/insta5,Wrapped round my finger like a ring
...,...,...,...
20510,20511,img/insta20511,Cowgirl :)
20511,20512,img/insta20512,<3
20512,20513,img/insta20513,I love me and Kylie's nail polish colors!
20513,20514,img/insta20514,Fammm
20514,20515,img/insta20515,Disneyland!

In [4]:
insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20515 entries, 0 to 20514
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sr No       20515 non-null  int64
 1   Image File  20515 non-null  object
 2   Caption     17100 non-null  object
dtypes: int64(1), object(2)
memory usage: 480.9+ KB

In [5]:
insta = insta.drop(columns = ['Sr No', 'Image File'])

In [6]:
insta

                                                 Caption
0                                                    NaN
1                                                   bye
2      Ok, a few more... sorry I just had so much fun...
3      This was one of my favorite shoots I‚Äôve ever d...
4                   Wrapped round my finger like a ring
...                                                  ...
20510                                        Cowgirl :)
20511                                                <3
20512         I love me and Kylie's nail polish colors!
20513                                             Fammm
20514                                       Disneyland!

[20515 rows x 1 columns]

In [7]:
insta = insta.dropna()

In [8]:
insta

                                                 Caption
1                                                   bye
2      Ok, a few more... sorry I just had so much fun...
3      This was one of my favorite shoots I‚Äôve ever d...
4                   Wrapped round my finger like a ring
5      Yesterday was so much fun!! has been such a hu...
...                                                  ...
20510                                        Cowgirl :)
20511                                                <3
20512         I love me and Kylie's nail polish colors!
20513                                             Fammm
20514                                       Disneyland!

[17100 rows x 1 columns]

In [9]:
insta.reset_index(drop=True, inplace=True)

In [10]:
len(pd.unique(insta['Caption']))

15652

In [11]:
insta

                                                 Caption
0                                                   bye
1      Ok, a few more... sorry I just had so much fun...
2      This was one of my favorite shoots I‚Äôve ever d...
3                   Wrapped round my finger like a ring
4      Yesterday was so much fun!! has been such a hu...
...                                                  ...
17095                                        Cowgirl :)
17096                                                <3
17097         I love me and Kylie's nail polish colors!
17098                                             Fammm
17099                                       Disneyland!

[17100 rows x 1 columns]

In [12]:
insta = insta.drop_duplicates()

In [13]:
insta.reset_index(drop=True, inplace=True)

In [14]:
insta

                                                 Caption
0                                                   bye
1      Ok, a few more... sorry I just had so much fun...
2      This was one of my favorite shoots I‚Äôve ever d...
3                   Wrapped round my finger like a ring
4      Yesterday was so much fun!! has been such a hu...
...                                                  ...
15647                                           Kramer!
15648                                        Cowgirl :)
15649         I love me and Kylie's nail polish colors!
15650                                             Fammm
15651                                       Disneyland!

[15652 rows x 1 columns]

In [15]:
insta = insta.astype('string')

In [16]:
insta['Instagram'] = 1

In [17]:
insta

                                                 Caption  Instagram
0                                                   bye           1
1      Ok, a few more... sorry I just had so much fun...          1
2      This was one of my favorite shoots I‚Äôve ever d...          1
3                   Wrapped round my finger like a ring           1
4      Yesterday was so much fun!! has been such a hu...          1
...                                                  ...        ...
15647                                           Kramer!           1
15648                                        Cowgirl :)           1
15649         I love me and Kylie's nail polish colors!           1
15650                                             Fammm           1
15651                                       Disneyland!           1

[15652 rows x 2 columns]

In [18]:
insta['YouTube'] = 0

In [19]:
insta['Twitter'] = 0

In [20]:
insta

,Caption,Instagram,YouTube,Twitter
0,bye,1,0,0
1,"Ok, a few more... sorry I just had so much fun...",1,0,0
2,This was one of my favorite shoots I‚Äôve ever d...,1,0,0
3,Wrapped round my finger like a ring,1,0,0
4,Yesterday was so much fun!! has been such a hu...,1,0,0
...,...,...,...,...
15647,Kramer!,1,0,0
15648,Cowgirl :),1,0,0
15649,I love me and Kylie's nail polish colors!,1,0,0
15650,Fammm,1,0,0
15651,Disneyland!,1,0,0

In [21]:
from unidecode import unidecode

In [22]:
insta['Caption'][243]

'My cover for with ‚ù§Ô∏è exciting things coming with this brilliant man. Shot by the amazing '

In [23]:
insta['Caption'][2435]

'cover üñ§ '

In [24]:
insta['Caption'] = insta['Caption'].apply(unidecode)

In [25]:
insta['Caption'][243]

'My cover for with  exciting things coming with this brilliant man. Shot by the amazing '

In [26]:
insta['Caption'][2435]

'cover  '

In [27]:
insta.to_csv('insta.csv', index=False)